<div class="row">
			<div class="col-md-4">
				<form role="form" action="principal.php">
					<h2 class="form-signin-heading">Please sign in</h2>
					<input type="text" class="form-control" placeholder="Email address"
						required autofocus> <input type="password" class="form-control"
						placeholder="Password" required> <label class="checkbox"> <input
						type="checkbox" value="remember-me"> Remember me
					</label>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
						in</button>
				</form>
			</div>

			<div class="col-md-8">
				<form id="videoForm" role="form">
					<h2 class="form-signin-heading">Eres nuevo?, registrate aquí!</h2>
					<div class="input-group">
						<label for="SignUpUsername" class="input-group-addon">Nombre de
							usuario</label> <input id="SignUpUsername" name="username"
							type="text" class="form-control"
							placeholder="Tu nombre de usuario publico" required>
					</div>
					<br>
					<div class="input-group">
						<label for="SignUpEmail" class="input-group-addon">Email</label> <input
							id="SignUpEmail" name="email" type="text" class="form-control">
					</div>
					<br>
					<div class="input-group">
						<label for="SignUpEmailConfirm" class="input-group-addon">Confirmar
							Email</label> <input id="SignUpEmailConfirm" name="emailConfirm"
							type="text" class="form-control">
					</div>
					<br>
					<div class="input-group">
						<label for="SignUpPass" class="input-group-addon">Clave</label> <input
							id="SignUpPass" name="password" type="password"
							class="form-control">
					</div>
					<br>
					<div class="input-group">
						<label for="SignUpPassConfirm" class="input-group-addon">Confirmar
							Clave</label> <input id="SignUpPassConfirm"
							name="passwordConfirm" type="password" class="form-control">
					</div>
					<br>
					<div class="input-group">
						<label for="SignUpName" class="input-group-addon">Nombre</label> <input
							id="SignUpName" name="name" type="text" class="form-control">
					</div>
					<br>
					<div class="input-group">
						<label for="SignUpLastname" class="input-group-addon">Apellido</label>
						<input id="SignUpLastname" name="lastname" type="text"
							class="form-control">
					</div>
					<br>
					<div class="form-group">
						<label for="SignUpSection">Sección </label> 
						<label class="radio-inline"> 
							<input name="section" type="radio" id="SignUpSection" value="1"> 1
						</label>
						 <label class="radio-inline">
						  <input name="section" type="radio" id="SignUpSection" value="2"> 2
						</label> 
					</div>
					<button id="uploadVideo" class="btn btn-lg btn-primary btn-block"
						type="submit">Sign in</button>
				</form>

			</div>
</div>