<p>Puntaje por criterios: </p>
<div class="row">
 
  <div class="col-lg-3 resultCol">
    <h2>Nombre</h2>
  </div>
  <div class="col-lg-3 resultCol">
      <h2> Credito </h2>
 </div>
  <div class="col-lg-3 resultCol">
    <h2>Puntaje</h2>
  </div>
  <div class="col-lg-3 resultCol">
      <h2> Acciones </h2>
  </div>
</div>
<div class="row">
 
  <div class="col-lg-3 resultCol">
   Criterio 1
  </div>
  <div class="col-lg-3 resultCol">
     10
 </div>
  <div class="col-lg-3 resultCol">
    20
  </div>
  <div class="col-lg-3 resultCol">
      <a href="videoEvaluation.php"> Ganar puntos!</a>
  </div>
</div>
<div class="row">
 
  <div class="col-lg-3 resultCol">
  Criterio 2
  </div>
  <div class="col-lg-3 resultCol">
     10
 </div>
  <div class="col-lg-3 resultCol">
    20
  </div>
  <div class="col-lg-3 resultCol">
      <a href="videoEvaluation.php"> Ganar puntos!</a>
  </div>
</div>