<form id="videoForm" class="form-signin" role="form" action="principal.php">
	<h2 class="form-signin-heading">Subir un nuevo video</h2>
	<div class="input-group">
		<span class="input-group-addon">Seccion</span>
		<div class="form-control">
			<input type="radio" name="seccion" value="s1"> Seccion 1 
			<input type="radio"	name="seccion" value="s2"> Seccion 2
		</div>
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon">Título</span> 
		<input name="title" type="text"class="form-control" 
		     placeholder="Título del video">
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon"> Criterios que cumple el video: </span>
		<div class="form-control">
			<input type="checkbox" name="criteria" value="crit1"> Criterio 1 
			<input type="checkbox" name="criteria" value="crit2"> Criterio2 
			<input type="checkbox" name="criteria" value="crit3"> Criterio 3
			<input type="checkbox" name="criteria" value="crit3"> Criterio 3
			<input type="checkbox" name="criteria" value="crit3"> Criterio 3
			<input type="checkbox" name="criteria" value="crit3"> Criterio 3
			<input type="checkbox" name="criteria" value="crit3"> Criterio 3
		</div>
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon">Descripción</span> 
		<textarea class="form-control" placeholder="Título del video">
		</textarea>
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon">Link del video</span> 
		<input type="text"class="form-control" 
		     placeholder="Copia y pega el link de youtube de tu video">
	</div>
	<br>
   </form>
   <button id="uploadVideo" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>